{
  'license':'Apache 2.0'
  'description': 'All tab combinations for generating GPD todos quickly.'
  '.source.gpd':{
    'boilerplate':{
      'prefix':'///'
      'body':'//Todo//\n//End//\n\n//Backlog//\n    ${1}\n//End//\n\n//Closed//\n//End//'
    }
    'cost':{
      'prefix': '$'
      'body': '\$(${1:cost}) $0'
    }
    'completion_time':{
      'prefix': '~'
      'body': '~(${1:date}) $0'
    }
    'context':{
      'prefix': '@'
      'body': '@(${1:context}) $0'
    }
    'note':{
      'prefix': '`'
      'body': '`(${0:note})'
    }
    'project':{
      'prefix':'#'
      'body': '#(${1:project}) $0'
    }
    'section_header':{
      'prefix': '//'
      'body':'//${1:Section}//\n$0\n//End//'
    }
    'target':{
      'prefix': '!'
      'body': '!(${1:target}) $0'
    }
  }
  '.source.GPD_Note':{
    'cost':{
      'prefix': '$'
      'body': '\$(${1:cost}) $0'
    }
    'completion_time':{
      'prefix': '~'
      'body': '~(${1:date}) $0'
    }
    'context':{
      'prefix': '@'
      'body': '@(${1:context}) $0'
    }
    'note':{
      'prefix': '`'
      'body': '`(${0:note})'
    }
    'project':{
      'prefix':'#'
      'body': '#(${1:project}) $0'
    }
    'section_header':{
      'prefix': '//'
      'body':'//${1:Section}//\n$0\n//End//'
    }
    'target':{
      'prefix': '!'
      'body': '!(${1:target}) $0'
    }
  }
}
