
'license':'Apache 2.0'
'description': 'Syntax highlighting dialect grammar rules for Note files in gpd.atom'
'scopeName': 'source.gpd_note'
'name': 'GPD_Note'
'comment': 'GPD productivity'
'fileTypes': [
  'gpd_note',
  'GPD_Note'
]
'foldingStartMarker':'//(?!End)[\\w\\s\\d\\.]*//'
'foldingStopMarker': '//End//'
'patterns': [
  {
    'begin': '#\\('
    'end': '\\)'
    'name': 'entity.other.inherited-class'
  }
  {
    'begin': '@\\('
    'end': '\\)'
    'name': 'support.class'
  }
  {
    'begin': '!\\('
    'end': '\\)'
    'name': 'variable.parameter'
  }
  {
    'begin':'~\\('
    'end':'\\)'
    'name':'storage.type'
  }
  {
    'begin':'\\$\\('
    'end':'\\)'
    'name':'constant.numeric'
  }
  {
    'begin':'\\`\\('
    'end':'\\)'
    'name':'comment'
  }
  {
    'begin':'//'
    'end':'//'
    'name':'comment'
  }
]
