'atom-workspace':
  'ctrl-?':'gpd:new-todo'
  'ctrl-.':'gpd:select-todo'
  'ctrl-,':'gpd:toggle-note'
  'ctrl-}':'gpd:done-todo'
  'ctrl-{':'gpd:done-todo-and-repeat'
  'ctrl-$':'gpd:toggle-pomodoro'
  'ctrl-[':'gpd:narrow-to-section'
  'ctrl-]':'gpd:unnarrow'
